.topWrapper {
    @apply absolute top-0 bottom-0 w-full flex flex-col;
    .theContainer {
        @apply w-full flex;
    }
}

.conversation {
    @apply flex overflow-hidden flex-col relative transition-all ltr:pr-0 rtl:pl-0 bg-page-bg;

    .chatList {
        @apply relative mt-4 mb-4 flex-1 overflow-y-auto;

        .messageItemOuter {
            @apply relative w-full px-4 flex box-border;

            .roleIconBox {
                @apply flex-none w-[24px] h-[24px] flex items-center justify-center mt-[8px] rounded-full;
            }

            .aiIcon {
                @apply w-full h-full;
            }

            .userIcon {
                @apply w-[20px] h-[20px];
            }

            .roleTitle {
                @apply pl-2 text-sm font-semibold;
            }

            .contentArea {
                @apply min-w-48 max-w-[800px] relative;
                &:after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border: 7px solid transparent;
                    position: absolute;
                    top: 16px;
                }
            }

            .r:after {
                @apply border-l-accent;
                right: -14px;
            }

            .l:after {
                @apply border-r-surface;
                left: -14px;
            }

        }
    }

    *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--border-subtle);
        border-radius: 2px;
    }

    .mainInputArea {
        @apply px-[8px] pb-[8px] gap-1 bg-surface rounded-tl-[20px] rounded-tr-[20px];

        .chatInputTopBar {
            @apply flex justify-between mb-[6px] px-1 items-center mt-[16px];
        }

        .chatInputArea {
            @apply flex-col items-center z-10 relative min-h-[97px] w-[100%] rounded-xl border-[1px] flex-1 pb-[4px] border-solid border-transparent cursor-text;

            .antInput {
                @apply w-full h-full mt-1 border-transparent;
            }

            .inputBottomArea {
                @apply flex justify-between items-end mt-1 gap-2 px-1;
            }
        }
    }

    .actionButton {
        @apply w-[28px] h-[28px] flex items-center justify-center hover:bg-accent-light rounded-[4px] cursor-pointer;
    }
}
